footer{
    padding: 5% 0;
    background-color: rgb(225, 225, 225);
    .container-info{
      display: flex;
      justify-content: space-around;
      gap: 30px;
      .direction, .phone, .email{
        font-size: 16px;
        display: flex;
        height: 30px;
        align-items: baseline;
        gap: 10px;
      }
    }
    .container-icon-info{
        display: flex;
        height: 30px;
        align-items: center;
        gap: 30px;
        justify-content: space-around;
      }
  }
@media (min-width:320px){
    footer{
        background-color: rgb(47, 52, 139);
        color: rgb(255, 255, 255);
          .container-info{
              flex-direction: column;
              gap: 0;
              .direction, .phone, .email{
                  height: auto;
              }
          }
          .cont-info-hours{
            h3{
              width: 80%;
            }
            .cont-hour{
              line-height: 0.5;
              margin-bottom: 5%;
              display: flex;
              flex-direction: column;
            }
          }
          .container-rs-info{
            display: flex;
            gap: 5%;
            .title-rs-info{
              width: 200px;
            }
          }
          .contain-logo-footer{
            margin: 5% 0;
            img{
              width: 90px;
              height: 80px;
            }
            
          }
          .container-icon-info{
              justify-content: center;
              margin-top: 5px;
    
          }
          .res-desk{
            display: none;
          }
    
      }
}

@media (min-width:720px){
    footer{
        .cont-info-hours{
          text-align: center;
          h3{
            width: 100%;
          }
          .cont-hour{
            line-height: 0.5;
            margin-bottom: 5%;
            display: flex;
            flex-direction: column;
          }
        }
        .container-rs-info{
          flex-direction: column;
          justify-content: center;
          gap: 0;
          .title-rs-info{
            width: auto;
            text-align: center;
          }
        }
        .contain-logo-footer{
            display: flex;
            justify-content: center;
          img{
            width: 140px;
            height: 130px;
          }
          
        }
        .container-info{
          align-items: flex-start;
        }
        .res-mob{
          display: none;
        }
        .res-desk{
          display: block;
        }
      }
}
